@model Proyect.Models.Role

@{
    ViewData["Title"] = "Detalles del Rol";

}

<h1>Detalles del Rol</h1>

<h3>@Model.NombreRol</h3>

<div>
    <h4>Permisos asociados:</h4>
    <ul>
        @foreach (var rolesPermiso in Model.RolesPermisos)
        {
            <li>@rolesPermiso.IdPermisoNavigation.NombrePermiso</li>  <!-- Muestra el nombre del permiso -->
        }
    </ul>
</div>

<div>
    <a asp-action="Index">Volver a la lista de Roles</a>
    <a asp-action="Edit" asp-route-id="@Model?.IdRol">Edit</a> 

</div>

