@model Proyect.Models.TipoMueble

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title">Detalles</h1>

<div class="details-container">
    <div class="card">
        <div class="card-header">
            <h4>Información del Rol</h4>
        </div>
        <div class="card-body">
            <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    </div>
</div>
</div>
    <div class="card-footer text-end">
            <a asp-action="Edit" asp-route-id="@Model?.IdTipoMueble" class="btn btn-primary btn-sm">Editar</a>
            <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
</div>
