@model Proyect.Models.TipoMueble

@{
    ViewData["Title"] = "Editar Tipo de Mueble";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Editar Tipo de Mueble</h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Modifica los detalles del tipo de mueble</h6>
        </div>
        <div class="card-body">
            <form asp-action="Edit" class="form-container">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdTipoMueble" />

                <div class="form-group">
                    <label asp-for="Nombre" class="form-label">Nombre del Tipo de Mueble</label>
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre del tipo de mueble" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Descripcion" class="form-label">Descripción</label>
                    <input asp-for="Descripcion" class="form-control" placeholder="Ingresa una descripción para el tipo de mueble" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-secondary btn-sm">
            <i class="fas fa-arrow-left"></i> Volver a la lista
        </a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
