@model Proyect.Models.Servicio

@{
    ViewData["Title"] = "Crear Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title">Crear Nuevo Servicio</h1>

<div class="create-container">
    <div class="card">
        <div class="card-header text-white bg-primary">
            <h4>Nuevo Servicio</h4>
        </div>
        <div class="card-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre del servicio" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" placeholder="Ingrese la descripción del servicio" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Precio" class="control-label"></label>
                    <input asp-for="Precio" class="form-control" placeholder="Ingrese el precio del servicio" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>

                <div class="form-group text-end">
                    <input type="submit" value="Crear" class="btn btn-success btn-sm" />
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
