@model Proyect.Models.Servicio

@{
    ViewData["Title"] = "Detalles del Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="Tituloscentro">Detalles del Servicio</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Información del Servicio</h6>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">Nombre del Servicio</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>

                <dt class="col-sm-3 font-weight-bold">Estado</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Estado)</dd>

                <dt class="col-sm-3 font-weight-bold">Descripción</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>

                <dt class="col-sm-3 font-weight-bold">Precio</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Precio)</dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" asp-route-id="@Model?.IdServicio" class="btn ov-btn-slide-left btn-sm">
                <i class="fas fa-edit"></i> Editar
            </a>
            <a asp-action="Index" class="btn ov-btn-slide-left-gray btn-sm">
                <i class="fas fa-arrow-left"></i> Volver a la lista
            </a>
        </div>
    </div>
</div>
