@model Proyect.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Recuperar Contraseña";
}

<div class="d-flex justify-content-center align-items-center vh-80 ">
    <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4">@ViewData["Title"]</h2>
        <p class="text-center mb-4">Ingrese su correo electrónico para recibir un enlace de restablecimiento de contraseña.</p>

        <form asp-action="ForgotPassword" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" name="email" class="form-control" required placeholder="Correo Electrónico" />
            </div>

            <div class="d-flex justify-content-center d-grid gap-2 mb-2">
                <button type="submit" class="btn btn-primary" style="width: 100px">Enviar</button>
            </div>

            <div class="text-center">
                <a class="btn btn-secondary" asp-controller="Account" asp-action="Login">Volver</a>
            </div>
        </form>

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success mt-3">@ViewBag.Message</div>
        }
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
