@model Proyect.Models.Paquete

@{
    ViewData["Title"] = "Eliminar Paquete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="page-title">Eliminar Paquete</h1>

<div class="delete-container">
    <div class="card">
        <div class="card-header text-white bg-danger">
            <h4>Confirmación de Eliminación</h4>
        </div>
        <div class="card-body">
            <h3>¿Está seguro de que desea eliminar este paquete?</h3>
            <dl class="row">
                <dt class="col-sm-3">Nombre del Paquete</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-3">Descripción</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-3">Precio</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Precio)
                </dd>
                <dt class="col-sm-3">Estado</dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="IdPaquete" />
                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
            </form>
        </div>
    </div>
</div>
