@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="d-flex justify-content-center align-items-center ">
    <div class="alert alert-danger text-center" role="alert">
        <h1 class="display-4">Acceso Denegado</h1>
        <p class="lead">No tienes permiso para acceder a esta página.</p>
        <hr class="my-4">
        <p>Si crees que esto es un error, por favor contacta al administrador del sistema.</p>
        <a class="btn btn-secondary btn-sm" href="javascript:history.back()">Volver</a>
    </div>
</div>
